body {
	font-family: sans-serif;
}

#menu {
	padding: 0;
	margin: 0;
	height: 4em;
	background-color: #F3F3F3;
}

#menu li {
	float: left;
	list-style-type: none;
	padding: 1em;
}

#menu li:hover, #menu li:active {
	background-color: #E3E3E3;
}

#menu a {
	text-decoration: none;
	color: #a00057;
	font-size: 1.5em;
}

.tab {
	clear: both;
	display: none;
}

.tab.selected {
	display: block;
}